<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
%h2 The Debt Calculator

%div#tabs
  %ul
    %li
      <a href = "#container1"> Plan 1 </a>
    %li
      <a href = "#container2"> Plan 2 </a>
    %li
      <a href = "#container3"> Plan 3 </a>
    %li
      <a href = "#container4"> Plan 4 </a>
    %li
      <a href = "#container5"> Plan 5 </a>
      
  %div.formContainer#container1
    = render "form"
    %div.response#response1
  %div.formContainer#container2
    = render "form"
    %div.response#response2    
  %div.formContainer#container3
    = render "form"
    %div.response#response3    
  %div.formContainer#container4
    = render "form"
    %div.response#response4   
  %div.formContainer#container5
    = render "form"
    %div.response#response5

%table.comparisonTable
  %caption Compare your plans
  %thead
    %tr.row#header
      %th 
      %th Interest Paid($)
      %th Number of Months 
  %tbody.compareBody
    %tr.row#row1
      %td Plan 1
      %td.interest
      %td.months
    %tr.row#row2
      %td Plan 2
      %td.interest
      %td.months
    %tr.row#row3
      %td Plan 3
      %td.interest
      %td.months
    %tr.row#row4
      %td Plan 4
      %td.interest
      %td.months
    %tr.row#row5
      %td Plan 5
      %td.interest
      %td.months